<%= form_with model: question, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_field :body, class: 'form-control', rows: 10 %>
  </div>
  <div class="form-group">
    <%= f.label :hint %>
    <%= f.text_area :hint, class: 'form-control', rows: 10 %>
  </div>
  <div class="form-group">
    <%= f.label :keyword %>
    <%= f.text_area :keyword, class: 'form-control'%>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>